* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: azure;
}
.formato-sca {
    border: 0.1vw solid black;
    
    width: 97%;
    height: 18vw;
    display: grid;
    grid-template: "notas1 nivel-tostion fragancia-aroma sabor           acidez       cuerpo        uniformidad  taza-limpia  puntaje-catador puntaje-total " 1fr
        "notas1 nivel-tostion fragancia-aroma sabor-residual  acidez       cuerpo        balance      dulzor       defectos        defectos" 1fr
        "notas1 notas-final   notas-final   notas-final     notas-final  notas-final   notas-final  notas-final   notas-final    puntaje-final" 0.4fr/
        0.5fr 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
}

.notas1 {
    grid-area: notas1;
    border: 0.1vw solid black;
    
}
.tittle-notas1{
    font-size: 0.9vw;
}
.nivel-tostion {
    grid-area: nivel-tostion;
    border: 0.1vw solid black;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1vw;
}
.tittle-nivel-tostion{
    font-size: 0.8vw;
}

.fragancia-aroma {
    grid-area: fragancia-aroma;
    border: 0.1vw solid black;
    display: grid;
    grid-template: "area-puntaje" 1fr
                   "area-intensidad"   1fr/
                    1fr ;
                    position: relative;
}


.sabor {
    grid-area: sabor;
    border: 0.1vw solid black;
    position: relative;
}

.acidez {
    grid-area: acidez;
    border: 0.1vw solid black;
    position: relative;
    display: grid;
    grid-template: "area-puntaje" 1fr
                   "area-intensidad"   1fr/
                    1fr ;
                    position: relative;
}
.intensidad-area-intensidad{
    width: 3vw;
    height: 5vw;
    position: absolute;
    font-size: 1.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.3vw;
    margin-left: -2vw;
}
.tittle-alta-area-intensidad{
    top: 0;
    position: absolute;
}
.tittle-baja-area-intensidad{
    bottom: 0;
    position: absolute;
}
.tittle-intensidad{
    position: absolute;
    bottom: 100%;
    font-size: 0.7vw;
    margin-left: 1vw;
}
.cuerpo {
    grid-area: cuerpo;
    border: 0.1vw solid black;
    position: relative;
    display: grid;
    grid-template: "area-puntaje" 1fr
                   "area-intensidad"   1fr/
                    1fr ;
                    position: relative;
}

.uniformidad {
    grid-area: uniformidad;
    border: 0.1vw solid black;
    position: relative;
}

.taza-limpia {
    grid-area: taza-limpia;
    border: 0.1vw solid black;
    position: relative;
}

.puntaje-catador {
    grid-area: puntaje-catador;
    border: 0.1vw solid black;
    position: relative;
    border-bottom: 0.1vw solid black;
}

.puntaje-total {
    grid-area: puntaje-total;
    border: 0.1vw solid black;
    border-bottom: unset;
    position: relative;
}

.sabor-residual {
    grid-area: sabor-residual;
    border: 0.1vw solid black;
    position: relative;
}

.balance {
    grid-area: balance;
    border: 0.1vw solid black;
    position: relative;
}

.dulzor {
    grid-area: dulzor;
    border: 0.1vw solid black;
    position: relative;
}

.defectos {
    grid-area: defectos;
    border: 0.1vw solid black;
    position: relative;
    border-top: unset;
}

.notas-final {
    grid-area: notas-final;
    border: 0.1vw solid black;
    position: relative;
}

.puntaje-final {
    grid-area: puntaje-final;
    border: 0.1vw solid black;
    position: relative;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.range {
    width: 2vw;
    height: 5vw;
    position: absolute;
    bottom: 0;
    margin-bottom: 1vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

h4 {
    text-align: center;
    font-size: 1vw;
}

.linea {
    width: 100%;
    height: 1%;
    background-color: black;
}

.linea-centro {
    height: 99.9%;
    width: 1%;
    background-color: black;
    position: absolute;
}

.input-range {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
}

.range-nivel-intensidad{
    -webkit-appearance: none;
    height: 2vw;
    width: 5vw;
    position: absolute;
    transform: rotate(-90deg);
    background-color: transparent;
    cursor: pointer;
}

.range-nivel-intensidad::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2vw;
    background-color: transparent;
    width: 0.2vw;
}

.value {
    position: absolute;
    top: calc(100% - 0.2vw);
    font-size: 01vw;
}


.guia-range-item{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:end;
    z-index: 9;
}
.puntaje-item{
    border-left: 0.1vw solid black;
    border-bottom: 0.1vw solid black;
    width: 2vw;
    height: 2vw;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
}
.h4-puntaje{
    font-size: 0.8vw;
    margin-left: 3vw;
    margin-top: 0.5vw;
}
.tittle{
    font-size: 0.8vw;
    font-weight: 900;
    margin-left: 0.4vw;
}

.numero-guia-range-item{
    position: absolute;
    bottom: -0.8vw;
    font-size: 0.6vw;
    margin-left: -0.1vw;
}
.div-range{
    position: absolute;
    bottom: calc( 0% + 1vw);
    width: 100%;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



.linea6,.linea7,.linea8,.linea9,.linea10{
    height: 100%;
    width: 1%;
    background-color: black;
}
.linea-lado{
    width: 1%;
    background-color: black;
    height: 40%;
    bottom: 0;
}
.linea-medio{
    width: 1%;
    height: 60%;
    background-color: black;
}
.input-range-puntaje{
    position: absolute;
    -webkit-appearance: none;
    width: 90%;
    height: 0.1vw;
    z-index: 9;
    background-color: transparent;
    cursor: pointer;
}
.input-range-puntaje::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 3vw;
    width: 0.1vw;
    background-color: transparent;
}

.area-puntaje{
    grid-area: area-puntaje;
    position: relative;
}
.area-intensidad{
    grid-area: area-intensidad;
    display: flex;
    justify-content: center;
    align-items: center;
}



.range1-area-intensidad{
    left: 0;
    margin-left: 0.5vw;
}
.range2-area-intensidad{
    right: 0;
    margin-right: 0.5vw;
}
.tittle-area-intensidad{
    position: absolute;
    bottom: 100%;
    font-size: 0.7vw;
}

.calidad-area-intensidad{
    height: 100%;
    width: 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.2vw;
}
.tittle-calidad-area-intensidad{
    font-size: 0.7vw;
    width: 100%;
    text-align: center;
}
.div-puntaje1-calidad-area-intensidad,.div-puntaje2-calidad-area-intensidad{
    width: 100%;
    height: 2vw;
    border-bottom: 0.2vw solid black;
}

.select-cuadro{
    height: 4.7vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8vw;
}
.cuadro-select{
    border: 0.2vw solid black;
    width: 0.9vw;
    height: 0.9vw;
    cursor: pointer;
}

.focus-cuadro-select{
    background-color: black;
}