* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.iframe-loader{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 91;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, visibility 0.5s;
}
#contenido{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}
.nav-vertical {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-horizontal {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 80px;
}

.iframe-alert-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    display: none;
}

body {
    margin-top: 78px;
    margin-left: 76px;
    background-color: rgb(241, 243, 244);
}


form {
    padding: 70px 60px 110px 60px;
    width: 50%;
    background-color: rgb(7, 34, 82);
}

.logo-aprendiz {
    width: 50%;
    padding: 70px 60px;
    background-color: #EA5455;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    display: block;
    color: white;
    position: relative;
}

input,
select {
    color: white;
    border: unset;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 5px;
    background-color: rgb(7, 34, 82);
    border-bottom: 1px solid rgb(94, 94, 94);
}

::placeholder,
select {
    font-size: 1.2em;
    padding: 5px;
    color: rgb(136, 136, 136);
}

.form {
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 1000px;
    margin: auto;
    margin-top: 140px;
}



option {
    color: white;
}

select {
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"] {
    border: unset;
    width: auto;
    padding: 15px 25px;
    background-color: green;
    border-radius: 4px;
    font-size: 1.2 em;
    right: 0;
    bottom: 0;
    position: absolute;
    margin-right: 60px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(8, 143, 8);
}

input[type="text"]:focus,
input[type="number"]:focus,
select {
    outline: none;
}

.imgs-registro-aprendiz,
.img-registro-aprendiz {
    width: 100%;
    position: relative;
}

h2 {
    top: 0;
    position: absolute;
    margin-top: 90px;
    color: white;
    font-size: 2em;
}

.img-aprendiz {
    position: absolute;
    width: 15%;
    bottom: 25%;
    left: 60%;
}

.transition-color {
    transition: color 0.5s;
}
.indicador-elementos-vacios{
    width: 200px;
    height: 30px;
    background-color: white;
    position: absolute;
    right:  calc(0% - 30px);
    top: 65px;
    border-radius: 4px;
    color: black;
    display: flex;
    align-items: center;
    padding: 8px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}

.restring {
    position: absolute;
    border-top: 0px solid transparent;
    border-bottom: 100px solid rgb(253, 253, 253);
    border-left: 54px solid transparent;
    border-right: 54px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 50px);
    border-radius: 1460px 1900px 40px 40px;
    zoom: 20%;
    left: 50px;
}

.linea1 {
    width: 5px;
    height: 115px;
    position: absolute;
    transform: rotate(27deg);
    top: -15px;
    left: -28px;
    border-radius: 100px 100px 100px 100px;
    z-index: 1;
    background-color: red;
}

.linea2 {
    width: 5px;
    height: 115px;
    position: absolute;
    transform: rotate(-207deg);
    top: -15px;
    right: -28px;
    border-radius: 100px 100px 100px 100px;
    z-index: 2;
    background-color: red;
}

.linea3 {
    height: 5px;
    width: 106px;
    position: absolute;
    bottom: -95px;
    border-radius: 100px 100px 100px 100px;
    z-index: 3;
    background-color: red;
}


.exclamacion {
    width: 2px;
    position: absolute;
    top: 25px;
    border-radius: 100px 100px 40px 40px;
    border-top: 45px solid red;
    border-bottom: 0px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.punto-exclamacion {
    border-radius: 100%;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 100%;
    background-color: red;
    left: calc(50% - 5px);
    top: 2px;
}

h6{
    margin-left: 40px;
}

.indicate-element{
    position: absolute;
    border-bottom: 8px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent; 
    bottom: 100%;
}
.Transition-alert-select-vacio{
    transition: opacity 0.5s, visibility 0.5s;
}
