* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/img/jose-fondo2.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}


.rout {
    text-decoration: none;
    color: #F9F5EB;
}

li {
    list-style: none;
}

.menu {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 55px;
    color: #F9F5EB;
    height: 100vh;
    background-color: #38190a;
    overflow: hidden;
    transition: width 0.5s;
}

/* .menu:hover{
    width: 16%;
    transition: width 0.5s;
} */

.item-nav {
    border-radius: 5px;
    display: flex;
    width: 226px;
    /* padding-left: 59px; */
    position: relative;
    left: 0;
    top: 100px;
    padding: 19px;
    /* padding: 35px 0px 0px 0px; */
}

.item-nav:hover {
    background-color: #ff050546;
}

.item-nav-color {
    background-color: #ff050546;;
}

.item-nav-hover {
    overflow-y: scroll;
    width: 285px;
    transition: width 0.5s;
}

.sub-nav {
    overflow: hidden;
    opacity: 0;
    height: 0px;
    transition: height 0.3s;
}

.sub,
.sub-two,
.sub-three {
    width: 70%;
    position: relative;
    left: 55px;
    top: 100px;
    background-color: #38190a;
    height: 300px;
    transition: height 0.4s, opacity 0.42s;
}

.sub-two {
    height: 85px;
}

.sub-three {
    height: 115px;
}

.sub-item {
    width: 100%;
    padding: 10px;
}

.sub-item:hover {
    border-radius: 4px;
    background-color: #ee5509;
  

}

.icon-down {
    transition: transform 0.5s;
    margin-left: 8px;
    position: fixed;
    left: 220px;
}

.icon-down-rotate {
    transition: transform 0.5s;
    transform: rotate(180deg);
}

.icons {
    margin-right: 30px;
}

.title-menu {
    color: #f75959;
    font-size: 1.3em;
    position: relative;
    top: 20px;
    left: 70px;
}

.icon-admin {
    position: fixed;
    font-size: 1.2em;
    top: 25px;
    left: 18px;
    
}

nav {
    background-color: white;
    width: 100%;
    height: 53px;
    position: fixed;
    display: flex;
    align-items: center;
    /* left: 70%; */
    gap: 15px;
}

.txt-info,
.search,
.icon-lup,
.icon-notif {
    
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    font-size: 1.3em;
    left: 6%;
}
.icon-notif{
    position: fixed;
    margin-left: 36%;
}
.search,
.icon-lup {
    border-radius: 5px;
    color: #f75959;
    font-size: 0.1em;
    left: 35%;
    padding: 5px;
    /* height: 22px; */
    outline: none;
    /* width: 220px; */
    font-size: 1em;
}
.icon-notif {
    left: 61%;
}
.icon-notif:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002a5b4e;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left: 60.65%;
    transition: background-color 0.2s;
}
.search{
    width: 20%;
    cursor:text;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #38190a33;

}
.content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
