* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.nav-vertical {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav-horizontal {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

body {
    margin-top: 78px;
    margin-left: 76px;
    background-color: rgb(241, 243, 244);
}


form {
    padding: 70px 60px;
    width: 50%;
    background-color: rgb(7, 34, 82);
    
}

.logo-aprendiz {
    width: 50%;
    padding: 70px 60px;
    background-color: #EA5455;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    display: block;
    color: white;
}

input,
select {
    color: white;
    border: unset;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 5px;
    background-color: rgb(7, 34, 82);
    border-bottom: 1px solid rgb(94, 94, 94);
}

::placeholder,
select {
    font-size: 1.2em;
    padding: 5px;
}

.form {
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 950px;
    margin: auto;
    margin-top: 140px;
}



option {
    color: white;
}

select {
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"] {
    border: unset;
    width: auto;
    padding: 15px 25px;
    background-color: green;
    border-radius: 4px;
    font-size: 1.2 em;
    right: 0;
    bottom: 0;
    position: absolute;
    margin-right: 60px;
    cursor: pointer;
}

input[type="text"]:focus,
input[type="number"]:focus,
select {
    outline: none;
}

.imgs-registro-aprendiz,
.img-registro-aprendiz {
    width: 100%;
    position: relative;
}

h2 {
    top: 0;
    position: absolute;
    margin-top: 90px;
    color: white;
    font-size: 2em;
}

.img-aprendiz {
    position: absolute;
    width: 15%;
    bottom: 25%;
    left: 60%;
}

.option {
    color: rgb(136, 136, 136);
    font-size: 1.2em;
}