body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F5EB;
}

.conten {
    width: 100%;
    height: 60px;
    background-color: #EA5455;
    display: flex;

} 

.icon-user{
    padding: 15px;
    display: flex;
    margin-left: 1620px;
    color: black;
    font-size: 1.6em;
    
}

.icon-bell{
   /*  padding: 30px; */
   position: fixed;
   top: 2%;
    display: flex;
    margin-left: 1550px;
    color: black;
    font-size: 1.6em; 
    
}
.sal{
    margin-left: 10px;
    cursor: pointer;
}

.icon-ya{
    position: fixed;
   top: 2%;
    display: flex;
    margin-left: 1450px;
    color: black;
    font-size: 1.6em; 
}
.active{
    margin-left: 5px;
}

.icon{
    display: flex;
    margin-right: 12px;
    font-size: 1.2em;
}

.bar-menu{
    color: aliceblue;
    display: flex;
    padding: 10px;
    margin-left: 150px;
    font-size: 1.5em;
    cursor: pointer;
    font-weight: bold;
}

.sub-men{
    margin-left: 20px;
}
  
.sidebar {
    background-color: #002B5B;
    width: 210px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
  
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.buscar{
    margin-left: 60%;
    position: relative;
    top: -115%;
}

.buscar input[type="text"]{
    padding: 4px;
    border: none;
    border-radius: 6px;
    margin-right: 4px;
}
.but{
    background-color: ;
    cursor: pointer;

}
  
.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
  
.sidebar a.active {
    color: #E4DCCF;
} 
.chill{
    display: none;
}
.cill:hover{
    display: block;
}


  
@media (max-width: 768px) {
.sidebar {
      width: 100%;
      height: auto;
      position: static;
}
  
.content {
      margin-left: 0;
    }
}